/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  width: 960px;
}

h1, h3, li {
  margin-bottom: 20px;
}

body {
  background: url("https://scontent.fsnc1-1.fna.fbcdn.net/hphotos-xta1/t31.0-8/11243801_10100782544311752_3954255945970906799_o.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

h1 {
  margin: 280px 30px 20px 30px;
  font-size: 60px;
  text-align: center;
  color: white;
  font-family: sans-serif;
}

h3 {
  font-size: 25px;
  text-align: center;
  color: white;
  font-weight: 600;
}

ul {
  text-align: center;
}

li {
  display: inline-block;
  border: 2px solid white;
  height: 30px;
  margin: 2%;
  width: 80px;
  padding: 4px;
  color: white;
}

li:hover {
  display: inline-block;
  border: 2px solid white;
  height: 30px;
  margin: 2%;
  width: 80px;
  padding: 4px;
  background-color: white;
  color: green;
}

a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.links a {
  font-variant: small-caps;
}

a:hover {
  color: yellow;
}

@media (max-width 500px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 16px;
  }
  div {
    width: 200px;
  }
}
